<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to Nexr</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>🚀 Welcome to Nexr</h1>
  <p>This is the homepage served by Express.</p>

  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/api/data">API</a>
  </nav>
  <img src="/0-02-05-f9fe6b8768d3bc48ec1b1dc60347fa9c7b68253998b6cd5ea080c24b5eae5341_c579c8c38270b3c7.jpg" alt="Nexr Logo" width="300" />
  <img src="/0-02-05-bb186e427b20adbbc33b0003cd786fe7fc05998e5c350c2b0ac2a984cbcfcaa0_133849680131d096.jpg" alt="Nexr Logo" width="300" />
  <img src="/lana.jpg" alt="Nexr Logo" width="300" />
  <img src="/0-02-05-7ca5334adc36e78cf800154f356b650cc9f167b0e6fe0845be96ecfc09852460_cefe3c70cba7372b.jpg" alt="Nexr Logo" width="300" />
  <img src="/0-02-05-c337a98788a051032a305b7e5e0c3b836c65d4840e1e72c976a0b155e45ea738_e4f9c91231bf5c7b.jpg" alt="Nexr Logo" width="300" />

</body>
</html>
